$def with (bal,level1 = '**',level2= '****')
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<style>
td:nth-of-type(3) { text-align: right;}
</style>
</head>
<body>
<ul>
    <li class="active"><a href="/" >Home</a></li>
    <li><a href="/trax/">Transaction Detail</a></li>
    <li><a href="/mexp/">Monthly Blance</a></li>
    <li><a href="/balance/">Account Blance</a></li>
</ul>
<div>
<table class="zui-table zui-table-horizontal zui-table-highlight" width="50%" >
<thead>
<tr>
<th>Account</th>
<th>Blance </th>
</tr>
</thead>
<tbody>
$for acc,amt in bal.items():
    
    $if len(acc.split(':')) < 2 :
        <tr style="font-weight: bold; background-color:#96BFD8" ><td ><a href="/balance/^$acc" >$acc</a></td><td align="right">$amt</td></tr>
    $elif len(acc.split(':')) == 2 :
        <tr><td style = "text-indent: 20px"><a href="/balance/^$acc" >  $acc</a></td><td align="right">$amt</td></tr>
    $else:
        <tr><td style = "text-indent: 35px"><a href="/balance/^$acc"> $acc</a></td><td align="right">$amt</td></tr>
    
</tbody>
</table>
</body>
</html>
