$def with (mexpenses)
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<style>
td:nth-of-type(2) { text-align: right;}
</style>
</head>
<body>
<div>
<table>
<thead>
<tr>    
$for mon, v in mexpenses.items():
    <th>$mon</th>
    <th>Blance</th>
</tr>
</thead>
<tbody>
$for mon, v in mexpenses.items():
    $for account, amount in v.items():
        <tr><td>Assets</td><td>$balance['Assets']</td></tr>
<tr><td>Liabilities</td><td>$balance['Liabilities']</td></tr>
<tr><td>Equity</td><td>$balance['Equity']</td></tr>
<tr><td>Income</td><td>$balance['Income']</td></tr>
<tr><td>Expenses</td><td>$balance['Expenses']</td></tr>
</tbody>
</table>
</div>
</body>
</html>
